
# Setting the AI_MODEL_* variables is necessary for using rules relying on AI

## Anthropic - Claude

#AI_MODEL_PROVIDER=Anthropic
#AI_MODEL_BASE_URL=https://api.anthropic.com/v1
#AI_MODEL_API_KEY=
#AI_MODEL_NAME=claude-sonnet-4.6

## OpenAPI - ChatGPT

#AI_MODEL_PROVIDER=OpenAPI
#AI_MODEL_BASE_URL=https://api.openai.com/v1
#AI_MODEL_API_KEY=
#AI_MODEL_NAME=gpt-4o

## Google - Gemini

#AI_MODEL_PROVIDER=Google
#AI_MODEL_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai
#AI_MODEL_API_KEY=AQ....
#AI_MODEL_NAME=models/gemini-2.5-flash

## Microsoft - Copilot - Azure

#AI_MODEL_PROVIDER=Microsoft
#AI_MODEL_BASE_URL=https://models.inference.ai.azure.com
#AI_MODEL_API_KEY=
#AI_MODEL_NAME=

## Local Ollama

AI_MODEL_PROVIDER=Ollama
AI_MODEL_BASE_URL=http://yoda:11434/v1
AI_MODEL_API_KEY=ollama
AI_MODEL_NAME=qwen2.5-coder:14B
#AI_MODEL_MAX_TOKENS=
